

{% extends 'base.html' %}

{% block title %}
Create New Recipe
{% endblock title %}

{% block content %}
<header class="dark-green-font">
    <nav>
        <a href="{% url 'main_page' %}">Main Page</a>

        {% if user.is_authenticated %}
        Hello, {{user.first_name}}
        <a href="{% url 'my_recipe_list' %}">My Recipes</a>
        <a href="{% url 'shopping_list' %}">My Shopping List</a>
        <a href="{% url 'logout' %}">Log Out</a>
        {% else %}
        <a href="{% url 'login' %}">Log In</a>
        <a href="{% url 'signup' %}">Sign Up</a>
        {% endif %}
    </nav>
</header>


        <main>
            <div class="create-form">
                <h2 class="align-left">Submit Recipe</h2>
                <form action = "" method = "post">
                    <table class="tr-no-bc">
                        {% csrf_token %}
                        {{ form.as_table }}
                    </table>
                    <button>Create</button>
                </form>
            </div>
        </main>
{% endblock content %}
