

{% extends 'base.html' %}

{% block title %}
    {{recipe_object.title}}
{% endblock title %}

{% block content %}
<header class="dark-green-font">
    <nav>
        <a href="{% url 'main_page' %}">Main Page</a>
        {% if user.is_authenticated %}
        <a href="{% url 'edit_recipe' recipe_object.id %}">Edit Recipe</a>
        {% endif %}

        {% if user.is_authenticated %}
        Hello, {{user.first_name}}
        <a href="{% url 'my_recipe_list' %}">My Recipes</a>
        <a href="{% url 'shopping_list' %}">My Shopping List</a>
        <a href="{% url 'logout' %}">Log Out</a>
        {% else %}
        <a href="{% url 'login' %}">Log In</a>
        <a href="{% url 'signup' %}">Sign Up</a>
        {% endif %}
    </nav>
</header>

    <main>

        <img class="border-curve" src="{{recipe_object.picture}}">

        <div class="container">
            <h1 class="dark-green-font padding-left">{{recipe_object.title}}</h1>

            <p class="padding-left larger-font">{{recipe_object.description}}</p>

            <form method="post" class="padding-left">
                {% csrf_token %}
                <button type="submit" name="form3">Add to Shopping List</button>
            </form>

            <p class="padding-left">{{recipe_object.created_on|date}}</p>

            <h2 class="dark-green-font padding-left no-margin">Ingredients</h2>
            <ol class="dark-green-font larger-font">
                {% for ingredient in recipe_object.ingredients.all %}
                    <li>{{ingredient.amount}} {{ingredient.food_item}}</li>
                {% endfor %}
            </ol>


            <div class="add-form">
                <h3 class = "dark-green-font">Add an Ingredient</h3>
                <form method = "post">
                    <table class = "dark-green-font">
                        {% csrf_token %}
                        {{form1.as_table}}
                    </table>
                    <button type="submit" name="form1">Save Changes</button>
                </form>
            </div>

            <h2 class="dark-green-font padding-left">Steps</h2>
            <ol class="larger-font">
                {% for step in recipe_object.steps.all %}
                <li> {{step.instruction }}</li>
                {% endfor %}
            </ol>

            <div class="add-step-form padding-b">
                <h3 class = "dark-green-font">Add a Step</h3>
                <form method = "post">
                    <table class = "dark-green-font">
                        {% csrf_token %}
                        {{form2.as_table}}
                    </table>
                    <button type="submit" name="form2">Save Changes</button>
                </form>
            </div>
        </div>

    </main>

{% endblock content %}
