

{% extends 'base.html' %}

{% block title %}
Edit Recipe
{% endblock title %}

{% block content %}
<header class="dark-green-font">
    <nav>
        <a href="{% url 'main_page' %}">Main Page</a>
        {% if user.is_authenticated %}
        <a href="{% url 'create_recipe' %}">Create Recipe</a>
        {% endif %}

        {% if user.is_authenticated %}
        Hello, {{user.first_name}}
        <a href="{% url 'my_recipe_list' %}">My Recipes</a>
        <a href="{% url 'shopping_list' %}">My Shopping List</a>
        <a href="{% url 'logout' %}">Log Out</a>
        {% else %}
        <a href="{% url 'login' %}">Log In</a>
        <a href="{% url 'signup' %}">Sign Up</a>
        {% endif %}
    </nav>
</header>

    <main>
        <h1 class="dark-green-font">Edit</h1>
        <div class="edit-form">
            <h3 class="dark-green-font large_font space-under no-bc align-left">Change Recipe</h3>
            <form action = "" method = "post">
                <table>
                    {% csrf_token %}
                    {{ form.as_table }}
                </table>
                <button>Save</button>
            </form>
        </div>

    </main>

{% endblock content %}
