{% extends 'base.html' %}

{% block title %}Scrumptious Recipes{% endblock title %}

{% block content %}
<header class="dark-green-font">
    <nav>
        <a href="{% url 'main_page' %}">Main Page</a>
        {% if user.is_authenticated %}
        <a href="{% url 'create_recipe' %}">Create Recipe</a>
        {% endif %}

        {% if user.is_authenticated %}
        Hello, {{user.first_name}}
        <a href="{% url 'my_recipe_list' %}">My Recipes</a>
        <a href="{% url 'shopping_list' %}">My Shopping List</a>
        <a href="{% url 'logout' %}">Log Out</a>
        {% else %}
        <a href="{% url 'login' %}">Log In</a>
        <a href="{% url 'signup' %}">Sign Up</a>
        {% endif %}
    </nav>
</header>

    <main>
        <h1 class="dark-green-font center">Recipe Index</h1>
        <div class="two-by-two-grid">

            <div class="grid-item-categories">
                <h2 class="dark-green-font">
                    <a href="{% url 'breakfast'%}">Breakfast</a>
                </h2>
            </div>
            <div class="grid-item-categories">
                <h2 class="dark-green-font">
                    <a href="{% url 'lunch'%}">Lunch</a>
                </h2>
            </div>
            <div class="grid-item-categories">
                <h2 class="dark-green-font">
                    <a href="{% url 'dinner' %}">Dinner</a>
                </h2>
            </div>
            <div class="grid-item-categories">
                <h2 class="dark-green-font">
                    <a href="{% url 'baked_goods' %}">Baked Goods</a>
                </h2>
            </div>


        </div>
    </main>
{% endblock content %}
