{% extends 'base.html' %}

{% block title %}Scrumptious Recipes{% endblock title %}

{% block content %}
<header class="dark-green-font">
    <nav>
        <a href="{% url 'main_page' %}">Main Page</a>
        {% if user.is_authenticated %}
        <a href="{% url 'create_recipe' %}">Create Recipe</a>
        {% endif %}

        {% if user.is_authenticated %}
        Hello, {{user.first_name}}
        <a href="{% url 'my_recipe_list' %}">My Recipes</a>
        <a href="{% url 'shopping_list' %}">My Shopping List</a>
        <a href="{% url 'logout' %}">Log Out</a>
        {% else %}
        <a href="{% url 'login' %}">Log In</a>
        <a href="{% url 'signup' %}">Sign Up</a>
        {% endif %}
    </nav>
</header>

    <main>
        <h1 class="dark-green-font center">My Recipes</h1>
        <div class="four-by-four-grid">
            {% for recipe in recipe_list %}
            <div class="grid-item">
                <h3 class="dark-green-font">
                    <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
                </h3>

                <img class="border-curve" src="{{ recipe.picture }}">

                <div>{{ recipe.created_on|date }}</div>
            </div>
            {% endfor %}
        </div>
    </main>
{% endblock content %}
