{% extends 'base.html' %}

{% block title %}Scrumptious Recipes{% endblock title %}

{% block content %}
<header class="dark-green-font">
    <nav>
        <a href="{% url 'main_page' %}">Main Page</a>
        {% if user.is_authenticated %}
        <a href="{% url 'create_recipe' %}">Create Recipe</a>
        {% endif %}

        {% if user.is_authenticated %}
        Hello, {{user.first_name}}
        <a href="{% url 'my_recipe_list' %}">My Recipes</a>
        <a href="{% url 'shopping_list' %}">My Shopping List</a>
        <a href="{% url 'logout' %}">Log Out</a>
        {% else %}
        <a href="{% url 'login' %}">Log In</a>
        <a href="{% url 'signup' %}">Sign Up</a>
        {% endif %}
    </nav>
</header>

    <main>
        <h1 class="dark-green-font center">Shopping List</h1>

        <div class="container">
            <h2 class="dark-green-font">{{shopping_list}}</h3>
            <ol>
                {% for item in shopping_list.shopping_list_item.all %}
                <li>{{item.amount}} {{item.food_item}}</li>
                {% endfor %}
            </ol>

            <form method="post">
                {% csrf_token %}
                <button type="submit" name="form1">New Shopping List</button>
            </form>
        </div>
    </main>
{% endblock content %}
