* {
    box-sizing: border-box;
    font-family: Garamond, serif;
    color: darkolivegreen;
    align-content: center;
}
#center{
    text-align: center;
}
a, a:hover, a:visited, a:active {
    text-decoration: none !important;
    color: inherit;
    padding-right: 50px;
    padding-left: 50px;
}

body {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

main {
    padding: 16px;
}

footer {
    position: fixed;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 24px;
    width: 100%;
    background-color: lavenderblush;
    border-top: 4px solid lavender;
    font-family: Garamond, serif;
    font-size: 1.5em;
    bottom: 0;
}

header {
    background-color: lavenderblush;
    font-family: Garamond, serif;
    font-size: 1.5em;

}



nav {
    padding: 16px;
    border-bottom: 4px solid lavender;

}

.align-left {
    text-align: left;
}

.light-green-font {
    color: rgb(149, 173, 104);
}

.dark-green-font {
    color: darkolivegreen;
}

.four-by-four-grid {
    display: grid;
    grid-template-columns: 600px 600px 600px;
    grid-template-rows: auto;
    justify-content: center;
}

.two-by-two-grid {
    display: grid;
    grid-template-columns: 850px 850px;
    grid-template-rows: 300px 300px;
    justify-content: center;
}

.grid-item-categories {
    display: flex;
    margin-right: 100px;
    margin-top: 0px;
    margin-bottom: 50px;
    margin-left: 0;
    background-color: lavenderblush;
    padding-bottom: 25px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    justify-content: center;
    align-items: center;

}
.grid-item {
    margin-right: 100px;
    margin-top: 0px;
    margin-bottom: 50px;
    margin-left: 0;
    background-color: lavenderblush;
    padding-bottom: 25px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);

}

h1 {
    font-family: Garamond, serif;
    font-size: 3em;

}

h2 {

    font-family: Garamond, serif;
    padding-bottom: 0;

    font-size: 2em;
}

.larger-font {
    font-size: 1.5em;
}

h3 {
    font-family: Garamond, serif;
}

div {
    text-align: center;
    font-family: Garamond, serif;


}

.border-curve {
    border:  8px solid lavender;
    border-radius: 20px;
}



.dark-green-background {
    background-color: lavender;
    border: 10px solid black;
}


.center-text {
    text-align: justify;
    text-size-adjust: 30px;
}


th {
    text-align: left;
    width: 200px;
}

tr {
    margin: 15px;
}

.padding-left{
    padding-left: 25px;
}

.center-image {

    margin-left: 50px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
}

table {
    margin-left: auto;
    margin-right: auto;
}

img {
    align-content: center;
    height: 500px;
}

.pad-left{
    padding-left: 50px;
}

.center {
    text-align: center;
}

.login-form,
.signup-form {
  background-color: lavenderblush;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: auto;
  max-width: 400px;
  padding: 2em;
  text-align: left;
}

.container {
    width: 900px;
    margin: auto;
    background-color: lavenderblush;
    text-align: left;
    padding: 25px;
    border-radius: 20px;
}

.add-form {
    background-color: whitesmoke;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 350px;
    padding-bottom: 25px;
    padding-top: 5px;
    margin: auto;
}
.add-step-form {
    background-color: whitesmoke;
    padding-top: 5px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: auto;
}

.create-form,
.edit-form {
  background-color: lavenderblush;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: auto;
  max-width: 600px;
  padding: 2em;
  align-items: left;
}
td {
    text-align: left;
    width: 600px;
}


label {
    color: darkolivegreen;
}

.space_under {
    margin-bottom: 50px;
}

.large_font {
    font-size: 1.5em;
}

button {
    margin-top: 25px;
    font-size: 1em;
    color: darkolivegreen;
    background-color: lavenderblush;
    border-color: darkolivegreen;

}

.detail-td {
    background-color: azure;
    border: 0;
}

ol {
    text-align: left;
    padding-left: 50px;
    align-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 1200px;
    margin: auto;
}

.thick-border {
    border: 30px solid lavender;
}


.padding-b {
    padding-bottom: 20px;
}

.paddint-t {
    padding-top: 20px;
}

.no-margin {
    margin: 0;
}

li {
    width: 800px;
    height: auto;
}
