{% load static%}
<!DOCTYPE html>
<html lang="en">
    <head>

        <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
        <title> {% block title %}{% endblock title %}</title>

    </head>
    <body>

        {% block content %}
        {% endblock content %}

    </body>
</html>
